<style>
  @import url('https://fonts.googleapis.com/css?family=Merriweather:400,700,900');
  @import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,900');

  body {
    font-family: "Merriweather", Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.7;
    font-size: 16px;
    color: #444;
    background-color: #f5f6f7;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: #222;
  }

  a {
    color: #373842;
  }

  header {
    padding-bottom: 1.8em;
  }

  header h2 {
    font-family: "Merriweather Sans", "Arial", sans-serif;
    font-size: 2.4em;
    margin-top: 0;
    margin-bottom: 0;
  }

  header .logo {
    margin-top: .8em;
    margin-bottom: .2em;
  }

  header .logo svg {
    height: 36px;
    width: auto;
  }

  .title {
    text-decoration: none;
    border: 0;
  }

  .title span {
    font-weight: 400;
  }

  nav a {
    margin-right: .8em;
    font-family: "Merriweather Sans", "Arial", sans-serif;
    font-size: 1em;
    text-decoration: none;
  }

  textarea {
    width: 100%;
    font-size: 1em;
  }

  input {
    font-size: 1em;
  }

  article .title {
    margin: 0;
  }

  article .meta {
    font-family: "Merriweather Sans", "Arial", sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    margin-right: .8em;
    padding-top: .8em;
    color: rgb(126, 126, 126);
    line-height: 1.4;
  }

  article .meta time {
    color: rgb(126, 126, 126);
  }

  article .meta i {
    margin-right: .2em;
  }

  article .meta .tags {
    margin: 0;
    display: inline;
    line-height: 1.4;
  }

  .all-tags {
    font-size: 1.2em;
    line-height: 1.4;
    margin-bottom: 2em;
  }

  .tags a {
    font-family: "Merriweather Sans", "Arial", sans-serif;
    display: inline;
    color: #777;
    text-decoration: none;
    margin-right: .2em;
    line-height: 1.4;
    font-weight: 400;
  }

  .tags a .hashtag {
    font-size: .6em;
  }

  article {
    background-color: #fff;
    box-sizing: border-box;
    padding: 1em 2.8em 2.8em;
    margin-left: -2.8em;
    margin-right: -2.8em;
    border-radius: 3px;
  }

  content {
    line-height: 1.8;
    font-size: 1.1em;
    color: #222;
  }

  .filtering {
    font-family: "Merriweather Sans", "Arial", sans-serif;
    margin: 0;
    color: #222;
  }

  .blog-posts time {
    font-family: "Merriweather Sans", "Arial", sans-serif;
  }

  table {
    width: 100%;
  }

  figure {
    margin: 0 0 2em;
  }

  figcaption h4 {
    margin: -.4em 0;
    font-size: .8em;
    font-weight: 400;
    font-style: italic;
    color: #777;
  }

  figure img {
    border-radius: 3px;
  }

  img {
    max-width: 100%;
  }

  code {
    padding: 2px 5px;
    background-color: #f2f2f2;
  }

  pre code {
    color: #222;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
  }

  div.highlight pre {
    background-color: initial;
    color: initial;
  }

  div.highlight code {
    background-color: unset;
    color: unset;
  }

  blockquote {
    border-left: 1px solid #999;
    color: #222;
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    font-family: "Merriweather Sans", "Arial", sans-serif;
    padding-top: 2em;
    padding-bottom: 6em;
    color: #777;
    text-align: right;
    font-size: 1em;
  }

  .helptext {
    color: #777;
    font-size: small;
  }

  .errorlist {
    color: #eba613;
    font-size: small;
  }

  /* blog posts */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 100px;
  }

  ul.blog-posts li a {
    text-decoration: none;
  }

  ul.blog-posts li a:visited {
    color: #8b6fcb;
  }

  hr {
    border-top: 1px solid #eee;
  }

  /* @media (prefers-color-scheme: dark) {
    body {
      background-color: #333;
      color: #ddd;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
      color: #eee;
    }

    a {
      color: #8cc2dd;
    }

    code {
      background-color: #777;
    }

    pre code {
      color: #ddd;
    }

    blockquote {
      color: #ccc;
    }

    textarea,
    input {
      background-color: #252525;
      color: #ddd;
    }

    .helptext {
      color: #aaa;
    }
  } */
</style>